@import "tailwindcss";
@import "tailwind-animations";
@import url("https://fonts.cdnfonts.com/css/manrope");

@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "postlight";
  color-scheme: light;

  --color-base-100: oklch(98.4% 0.003 247.858);
  --color-base-200: oklch(96.8% 0.007 247.896);
  --color-base-300: oklch(92.9% 0.013 255.508);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(65.5% 0.169 237.323);
  --color-primary-content: oklch(98% 0.01 240);
  --color-primary-muted: white;
  --color-secondary: oklch(65% 0.1991 257.5);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(39.1% 0.09 240.876);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
  --radius-box: 0.rem;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}