@import "tailwindcss";
@import "tailwind-animations";
@import url("https://fonts.cdnfonts.com/css/manrope");

@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;

  --color-base-50: oklch(100% 0 0);
  --color-base-100: oklch(98.4% 0.003 247.858);
  --color-base-200: oklch(96.8% 0.007 247.896);
  --color-base-300: oklch(92.9% 0.013 255.508);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(65.5% 0.169 237.323);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(65% 0.1991 257.5);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(39.1% 0.09 240.876);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(31.2% 0.074 245.9);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(37.7% 0.082 171.6);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(43.8% 0.118 49.2);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(27.1% 0.104 7.9);
  --color-card-red: oklch(93.6% 0.032 17.717);
  --color-card-red-content: oklch(57.7% 0.245 27.325);
  --color-card-orange: oklch(95.4% 0.038 75.164);
  --color-card-orange-content: oklch(64.6% 0.222 41.116);
  --color-card-lime: oklch(96.7% 0.067 122.328);
  --color-card-lime-content: oklch(64.8% 0.2 131.684);
  --color-card-amber: oklch(96.2% 0.059 95.617);
  --color-card-amber-content: oklch(66.6% 0.179 58.318);
  --color-card-green: oklch(96.2% 0.044 156.743);
  --color-card-green-content: oklch(62.7% 0.194 149.214);
  --color-card-sky: oklch(95.1% 0.026 236.824);
  --color-card-sky-content: oklch(58.8% 0.158 241.966);
  --color-card-violet: oklch(94.3% 0.029 294.588);
  --color-card-violet-content: oklch(54.1% 0.281 293.009);
  --color-card-rose: oklch(94.1% 0.03 12.58);
  --color-card-rose-content: oklch(58.6% 0.253 17.585);

  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
  --radius-box: 0.rem;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;

  --color-base-50: oklch(27.9% 0.016 255.6);
  --color-base-100: oklch(24.8% 0.015 255.4);
  --color-base-200: oklch(24.8% 0.015 255.4);
  --color-base-300: oklch(21.7% 0.014 255.2);
  --color-base-content: oklch(98% 0.01 240);
  --color-primary: oklch(65.5% 0.169 237.323);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(65% 0.1991 257.5);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(39.1% 0.09 240.876);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(70% 0.05 240);
  --color-neutral-content: oklch(2% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(31.2% 0.074 245.9);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(37.7% 0.082 171.6);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(43.8% 0.118 49.2);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(27.1% 0.104 7.9);
  --color-card-red: oklch(39.6% 0.141 25.723);
  --color-card-red-content: oklch(70.4% 0.191 22.216);
  --color-card-orange: oklch(40.8% 0.123 38.172);
  --color-card-orange-content: oklch(75% 0.183 55.934);
  --color-card-amber: oklch(41.4% 0.112 45.904);
  --color-card-amber-content: oklch(82.8% 0.189 84.429);
  --color-card-lime: oklch(40.5% 0.101 131.063);
  --color-card-lime-content: oklch(84.1% 0.238 128.85);
  --color-card-green: oklch(39.3% 0.095 152.535);
  --color-card-green-content: oklch(79.2% 0.209 151.711);
  --color-card-sky: oklch(39.1% 0.09 240.876);
  --color-card-sky-content: oklch(74.6% 0.16 232.661);
  --color-card-violet: oklch(38% 0.189 293.745);
  --color-card-violet-content: oklch(70.2% 0.183 293.541);
  --color-card-rose: oklch(41% 0.159 10.272);
  --color-card-rose-content: oklch(71.2% 0.194 13.428);

  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
  --radius-box: 0.3rem;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}