{% extends "layout.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% from "macros/fields.html" import render_email_field, render_password_field, render_boolean_field, render_submit_field %}
<div class="flex min-h-dvh bg-(--color-base-50)">
	<div class="px-4 md:px-6 w-full">
		<header class="flex justify-center md:justify-start pt-5">
			<a href="{{ url_for('main.index') }}">
				<picture>
					<source class="w-55" srcset="{{ asset_url('images/header_logo.png') }}" media="(prefers-color-scheme: light)" alt="Postsprints logo"/>
					<source class="w-55" srcset="{{ asset_url('images/header_logo_dark.png') }}" media="(prefers-color-scheme: dark)" alt="Postsprints logo"/>
					<img class="w-55" src="{{ asset_url('images/header_logo.png') }}" alt="Postsprints logo">
				</picture>
			</a>
		</header>
		<main class="flex flex-col justify-center items-center pr-0 xl:pr-6 py-6 min-h-[calc(100dvh-93px)]">
			<section aria-labelledby="signin-title" class="my-4 sm:my-6 w-full max-w-md lg:max-w-140">
				<h1 id="signin-title" class="text-4xl sm:text-5xl font-semibold mb-3 sm:mb-6 font-manrope">Sign In</h1>
				<p class="text-md text-neutral font-medium">Enter your email and password to access your account.</p>
			</section>
			<form method="post" novalidate class="text-start w-full max-w-md lg:max-w-140">
				{{ signin_form.csrf_token() }}
				{{ render_email_field(signin_form.email) }}
				{{ render_password_field(signin_form.password) }}
				<div class="flex justify-between items-center py-3 sm:py-4">
					<div class="flex flex-row-reverse items-center gap-x-4">
						{{ render_boolean_field(signin_form.remember) }}
					</div>
					<a href="" class="text-sm font-semibold text-primary hover:text-primary-focus">Forgot password?</a>
				</div>
				{{ render_submit_field(signin_form.submit) }}
				<div class="mt-4 sm:mt-6 text-center text-md">
					Don't have an account?
					<a href="{{ url_for('auth.signup') }}" class="inline text-primary font-semibold">Register now</a>
				</div>
			</form>
		</main>
	</div>
	<img class="hidden 2xl:block h-dvh" src="{{ asset_url('images/auth_side.png') }}" alt="" role="presentation">
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ asset_url('javascript/password.js') }}"></script>
{% endblock %}