{% extends "layout.html" %}

{% block title %}Your calendar{% endblock %}

{% block links %}
    <script type="module" src="https://unpkg.com/cally"></script>
{% endblock %}

{% block content %}
<div class="flex relative max-h-screen">
    {% include "components/dashboard/sidebar.html" %}
    <div class="flex flex-col w-full h-screen overflow-y-auto">
        <div class="w-full h-full">
            {% include "components/dashboard/header.html" %}
            <div class="flex items-center px-6 py-5 bg-(--color-primary-muted) border-b border-base-300">
                <h1 class="text-3xl font-medium tracking-tight font-manrope">Calendar</h1>
                <button class="btn btn-secondary shadow-none ml-auto font-normal text-white" onclick="my_modal_1.showModal()">Create a post</button>
            </div>
            <div class="w-full bg-(--color-primary-muted)">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/sidebar.js') }}"></script>
{% endblock %}